@rendermode InteractiveServer

<div style="border: 1px solid; border-radius: 6px;">
    <img href="@randomImgUrl" />
</div>

<div>
    <button @onclick="getRandomImg">Click for a random picture</button>
</div>